@{
    ViewData["Title"] = "Home Page";
}




<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/ecos.styles.css" asp-append-version="true" />
</head>
<body>
	<div class="container_">
		<video autoplay loop muted plays-inline class="background-clip_">
			<source src="~/css/bg/bg1.mp4" type=video/mp4 />
		</video>
		<div class="content_">
			<h1>Ecotrack:</h1>
			<h2>Electricity Analyzing Web Tool</h2>
		</div>
	</div>
	<div class="bgm_">
		<audio autoplay loop>
			<source src="~/css/bg/bgm.mp">
		</audio>
	</div>
</body>
</html>