@{
    ViewData["Title"] = "Privacy Policy";
}

<h1 class="text-center titles">@ViewData["Title"]</h1>
<div class="about21 text-center">
    <img src="~/css/bg/DEV.jpg" alt="Alternate Text" class="logo" />
    <p>
        Interface Developer is a group of Bachelor of Science in Information Technology (BSIT) students who are passionate about
        creating accessible and user-friendly websites and programs. We focus on delivering simplistic solutions that cater to the
        needs of users, ensuring a seamless experience. Our team's collaborative spirit drives us to innovate and implement practical
        technologies, making our projects both efficient and effective.
    </p>
    <h2>Vision</h2>
    <p>
        Driving forward the frontiers of software development, we strive to create solutions that transform challenges into opportunities.
        Our vision is to harness the power of technology to craft innovative applications that not only address the immediate needs of users
        but also anticipate future trends and challenges. We envision a world where our software simplifies complex processes, enhances productivity,
        and fosters connectivity among individuals and communities.
    </p>
    <h2>Mission</h2>
    <p>
        Innovation: Pioneering new technologies and solutions to drive progress and efficiency.
        Sustainability: Developing solutions that are environmentally friendly and contribute to a sustainable future.
        Optimization: Continuously refining and improving systems to enhance performance and user experience
        Scalability: Designing systems that can grow and adapt to increasing demands, ensuring long-term viability and success.
        Security: Protecting data and systems from threats, ensuring the integrity and confidentiality of information.
    </p>
    <h2>Analysis Instruction</h2>
    <p> 1. Create Account</p>
    <p> 2. Logged in on your created account</p>
    <p> 3. Go to Analysis page</p>
    <p> 4. Click Create New Button To Add Data</p>
    <p> 5. Click Edit Button To Edit Data</p>
    <p> 6. Click Details To See The Detail of your Data</p>
    <p> 7. Click Delete Button To Remove the Data</p>
</div>